.navbar {
    padding: 1rem;
}

.navbar,
.navbar-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-text {
    gap: 1rem;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.logo-image {
    width: 30px;
    height: auto;
}

.logo-titulo {
    font-size: var(--normal-font-size);
}

.navbar-links {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    gap: 2rem;
    transition: 1s;
    transform: translateY(-100vh);
}

.open-menu {
    transform: none;
}

.navbar-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navbar-buttons > .button {
    display: none;
}

.button {
    border-style: none;
    padding: 1rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: var(--small-font-size);
}

.button-primary {
    background-color: var(--primary);
    color: var(--on-primary);
}

.button-primary-container {
    background-color: var(--primary-container);
    color: var(--on-primary-container);
}

.button-transparent {
    background-color: var(--background);
    color: var(--primary);
}

.icon-button {
    border-style: none;
    background-color: var(--background);
    color: var(--on-background);
    font-size: var(--icon-size);
}

.big-tittle {
    font-size: var(--big-font-size);
    text-align: center;
}

.titulo {
    font-size: var(--h1-font-size);
    text-align: center;
}

.subtitulo {
    font-size: var(--h2-font-size);
    text-align: center;
}

.parrafo {
    text-align: justify;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--primary);
    color: var(--on-primary);
    font-weight: bold;
    padding: 1rem;
}

.footer-logo-image {
    width: 100px;
    height: auto;
}

.footer-logo-titulo {
    font-size: var(--h2-font-size);
}

.footer-icons {
    font-size: var(--h1-font-size);
}

.footer-icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .flex-container {
        flex-direction: row;
    }

    .subtitulo {
        text-align: left;
    }

    .footer-container {
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    .logo-image {
        width: 50px;
    }

    .navbar-text {
        gap: 2.5rem;
    }

    .navbar-buttons > .button {
        display: initial;
    }

    .hamburger {
        display: none;
    }

    .navbar-links {
        transform: none;
        flex-direction: row;
        position: initial;
    }

    .navbar-links > button {
        display: none;
    }

    .flex-container {
        flex-direction: row;
    }

    .subtitulo {
        text-align: left;
    }

    .footer-container {
        flex-direction: row;
        padding: 1rem 2rem;
    }
}